spring.datasource.url=jdbc:mysql://<YOUR_AWS_HOSTNAME_OR_IP_ADDRESS>:3306/credit_card_db
spring.datasource.username=acct_user
spring.datasource.password=ENCRYPTED(<ENCRYPTED_PASSWORD>)
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
